<footer class="navbar navbar-expand-lg navbar-dark footbar bg-dark mt-5" >
    <div class="container justify-content-between">
      <ul class="navbar-nav">
        <li class="foot-item mx-3">
          <a class="foot-link" href="{% url 'home' %}">À propos</a>
        </li>
        <li class="foot-item mx-3">
          <a class="foot-link" href="{% url 'home' %}">Contact</a>
        </li>
        <li class="foot-item mx-3">
          <a class="foot-link" href="{% url 'home' %}">Conditions d'utilisation</a>
        </li>
      </ul>
      
      <span class="navbar-text text-white mx-3">
        &copy; 2024 BookCircle
      </span>
    </div>
  </footer>
  