
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    {% block style %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    {% endblock style %}
</head>
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">  <!-- Flex container -->
    <div class="text-center form-container">  <!-- Content container -->
        <h2>Message de réinitialisation du mot de passe envoyé</h2>
        <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>

        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
    </div>
</div>

{% include "components/footer.html" %}
{% endblock %}
</html>