{% extends "base.html" %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    {% block style %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock style %}
</head>
{% block content %}
<h2>Mot de passe réinitialisé.</h2>
<p>Votre mot de passe a été réinitialisé avec succès.Revenir à <a href="{% url 'login' %}">la page de connexion</a>.</p>
{% include "components/footer.html" %}
{% endblock %}
</html>