{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="fr">

{% block content %}

    <div class="container mt-5 text-center">
        <h1>Bienvenue dans la Section Challenge</h1>
        <p>Ici, mesurez vos connaissances littéraires et culturelles face aux autres membres de la communauté !</p>

        <!-- Boutons centré en vert -->
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-success btn-lg m-3" href="{% url 'citation_quiz' %}" role="button">Chasse aux citations</a>
            <a class="btn btn-success btn-lg m-3" href="{% url 'guess_book_title' %}" role="button">De quel livre je parle ?</a>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-success btn-lg m-3" href="{% url 'fact_quiz' %}" role="button">De quel auteur je ne parle pas ?</a>
        </div>
    </div>

{% endblock %}
</html>
