{% extends "base.html" %}
<!DOCTYPE html>
<html lang="fr">

{% block title %}
    Bienvenue sur BookCircle
{% endblock %}

{% block content %}
    

    <div class="container mt-5 text-center">
        <h1>Bienvenue sur BookCircle</h1>
        <p class="lead">Nous sommes ravis de vous accueillir dans notre communauté de passionnés de lecture.</p>
        <p>Explorez, découvrez de nouveaux livres et partagez vos expériences de lecture avec d'autres membres.</p>
    </div>


    
{% endblock %}
</html>