{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="fr">

{% block content %}

<div class="container text-center mt-5">
    <blockquote class="blockquote">
        <p>"{{ quote.text }}"</p>
    </blockquote>
    {% if correct %}
        <h2 style="color: white;">Bonne réponse !</h2>
    {% else %}
        <h2 class="text-danger">Mauvaise réponse !</h2>
        <p>La bonne réponse était : <strong>{{ quote.author }}</strong>.</p>
    {% endif %}
    <p>Vous avez choisi : <strong>{{ user_answer }}</strong>.</p>
    <p>Votre score actuel est : {{ score }}.</p>

    <a href="{% url 'citation_quiz' %}" class="btn btn-primary mt-3">Essayer une autre citation</a>
</div>

{% endblock %}
</html>